body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-heading {
  font-size: 1.4rem; 
  font-weight: bold; 
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color:rgb(83, 79, 79);
}
a:hover {
  color: #f1356d;
}
.bg-pink{
  background-color: #fff7ed;
}
.bg-yellow{
  background-color: #fff7ed;
}
.bg-orange{
  background-color: #fcca95;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.pagination-container li {
  margin: 0 5px;
  display: flex;
}
.card:hover{
  transform: scale(1.10);
}
.image-container {
  position: relative;
  display: flex;
}

.black-box {
  background-color: #000000;
  width: 40%;
  height:80%;
  position: absolute;
  top: 10%;
  left:5%;
}

.form-container {
  width: 600px;
  height: 800px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

.form-container .header {
  flex: 20%;
  display: grid;
  place-items: center;
}

.form-container .body {
  flex: 60%;
}

.form-container .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
}

.form-container .footer button {
  border-radius: 7px;
  width: 100px;
  height: 40px;
  background-color: #f1356d;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;
}
.form-field {
  margin: 5px;
  width: 200px;
  height: 40px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
}
.form-fields {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* PROGRESS BAR */
.progressbar {
  width: 600px;
  height: 10px;
  background-color: white;
  margin-bottom: 50px;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #f1356d;
}

.cart-popup {
  position: absolute;
  top: 60px;
  right: 20px;
  width:40%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;
}

.cart-popup-close {
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.checkout-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f1356d;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.checkout-button:hover {
  color: #ffffff;
}
.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
  border: none;
}
.delete-button {
  background-color: transparent;
  border: none;
  color: #f1356d; 
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  color: #f1356d;
}

.checkout-page {
  margin: 20px;
  padding: 10px;
}
.checkout-item {
  margin-bottom: 10px;
}

.checkout-total {
  margin-top: 20px;
  text-align: right;
}
